HTTP_ADDRESS=:8080
SHUTDOWN_TIMEOUT=10s
LOG_LEVEL=info

POSTGRES_USER=lawang
POSTGRES_PASSWORD=lawang
POSTGRES_DB=lawang_db_go
POSTGRES_PORT=5432
DATABASE_URL=postgresql://lawang:lawang@localhost:5432/lawang_db_go?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://lawang:lawang@localhost:5432/lawang_db_go?sslmode=disable
GOOSE_MIGRATION_DIR=sql/migrations
